SSH_HOST = server_ip
SSH_USER = server_username
SSH_PASSWORD = username's_password
OLLAMA_MODEL = qwen2.5:7b-instruct-q4_K_M 
#^ make sure model supports tool-calling
OLLAMA_BASE_URL = http://localhost:11434/v1
PROXMOX_HOST=your-proxmox-ip
PROXMOX_USER=root@pam
PROXMOX_PASSWORD=yourpassword
DISCORD_TOKEN=discord-bot-token